* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fullPage {
  width: 900px;
  height: 500px;
  padding-left: 30px;
}

button {
  width: 100px;
  height: 30px;
  background-color: #247bc2;
  color: white;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
button:hover {
  background-color: rgb(155, 192, 226);
  cursor: pointer;
}
.buttons {
  display: flex;
  gap: 20px;
}
.spiner {
  border: 3px solid aqua;
  border-top: 3px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.selectButtons button {
  margin-left: 5px;
}
.checkbox {
  width: 40px;
  height: 40px;
}
.items button {
  width: 70px;
  height: 40px;
background-color: white;
color: black;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
    background-color: rgb(224, 233, 241);
  }
  
}
